@import url(reset.css);
@import url(pico.conditional.blue.css);

/* my custom stuff here */
header,
.navigationBarTop {
  padding-right: var(--pico-spacing);
  padding-left: var(--pico-spacing);

  z-index: 40;
  top: 0px;
  position: sticky;

  background-color: var(--pico-card-background-color);
  height: 64px;
  /* border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1; */

  /* box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 16px 32px -16px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px; */
  box-shadow: var(--pico-card-box-shadow);
}

#gameBoard {
  z-index: 1;
}
#minesweeperPage {
  border: outset #5b6dcd 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: var(--pico-spacing);
  margin-left: var(--pico-spacing);
  padding: 5px;
}

.boardRow {
  align-items: center;
}
.gameCell {
  width: 28.5px;
  height: auto;
  box-sizing: content-box;
  border: solid #5b6dcd 1px;

  font-size: 16px;
  text-align: center;
  aspect-ratio: 1;
}

.container,
.container-fluid {
  padding-top: 1rem;
}

.footer-strip,
.footer-strip a {
  margin-top: auto;
  margin-bottom: 15px;

  text-decoration-line: none;
}
